.content
  h2.is-size-5 ストップウォッチ
    //- テキスト
    p.sw-text.has-text-centered.has-text-weight-bold.is-size-2
    //- 操作
    .sw-control.columns
      .column.is-half
        button.sw-control__start.button.is-fullwidth 開始
        button.sw-control__stop.button.is-fullwidth.is-hidden 停止
      .column.is-half
        button.sw-control__reset.button.is-fullwidth.is-hidden リセット
